@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.radioco-playButton-playing:before{
	font-family: 'FontAwesome', sans-serif;
  	content: "\f04b";
    font-size:50px;
    color: #fff;
	background: #000;
	display: flex;
	flex-direction: column;
}

.radioco-playButton-playing:after{
	font-family: sans-serif;
  	content: "Play";

    color: #fff;
	background: #000;
	display: flex;
	flex-direction: column;
}

.radioco-playButton-paused:before{
	font-family: 'FontAwesome', sans-serif;
  	content:"\f04d";
    font-size:50px;
    color: #fff;
	display: flex;
	flex-direction: column;
}

.radioco-playButton-paused:after{
	font-family: sans-serif;
  	content:"Stop";

    color: #fff;
	display: flex;
	flex-direction: column;
}

.radioplayer{
  background: #000;
  padding: 20px;
  width: 350px;
  height: 85px;
  box-shadow: #ccc 0px 1px 50px;
  border-radius:4px;
  background-position:center center !important;
  background-repeat:no-repeat !important;
  background-size: cover !important;
  overflow: hidden;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radioco-playButton{
  box-shadow: #111 1px 1px 10px;
  color: #fff;
  position: relative;
  top: 5px;
  text-align: left;
  margin-left: 6.5%;
  position: relative;
  z-index: 2;
  font-size:50px;
}

.radioco-playButton:active{
  color:#ccc;
}

.radioco-playButton-playing{
  font-family: "controls";
  position: absolute;
  background: #000;
  text-size:150%;
  text-shadow:#333 0px 0px 15px;
}


.radioco-playButton-paused{
  font-family: "controls";
  position: absolute;
  background: #000;
  text-size:150%;
  text-shadow:#333 0px 0px 15px;
}


.radioco-image{
  display: none;
  vertical-align: middle;
  margin-left: -20px;
  margin-top: -20px;
  filter: blur(1px) brightness(0.7);
  position: relative;
  z-index: 1;
  width:125px;
  height: 125px;
}

.radioco-bg{
  margin-top: -99px;
  margin-left: -29px;
  filter: blur(30px) brightness(0.6);
  overflow: hidden;
  width: 500px;
  position: relative;
  left: 70px;
  top: -180px;
}

.radioco-information{
  display: block;
  position: relative;
  width: 250px;
  color:#fff;
  z-index: 1;
  float: right;
  top:13px;
  font-family: 'Open Sans', sans-serif;

}

.radioco-information span{
  display:block;
}

.radioco-information input[type="range"]{
  background: rgba(255,255,255,0.3);
  width: 100px;
  display: block;
  height: 4px;
  appearance: none;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: -webkit-grab;
  outline: 0;
   }

.radioco-information input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  width:15px;
  height:15px;
  border-radius: 10px;
  background: #ffffff;
  -webkit-transition: box-shadow 0.2s;

}
.radioco-information input[type=range]::-webkit-slider-thumb:hover {
  box-shadow:#fff 1px 1px 20px;
}

.radioco-information input[type=range]:active, .information input[type=range]:focus {
  outline: 0;
}

.radioco-elapsedTime{
  opacity:1;
  font-size:14px;
}

@media screen and (max-width: 548px) {
    .radioplayer {
        width: 254px;
        right: 24px;
        position: relative;
        background: black;
    }

    .radioco-bg {
        filter: brightness(0);
    }

    .radioco-image {
        filter: brightness(0);
    }

    .radioco-playButton {
        left: 6px;
    }
    
    .radioco-information {
        left: 20px;
        width: 168px;
        top: 2px;
        color: white;
    }
}
