	* {
		-webkit-font-smoothing: antialiased;
	}
     body {
	   background-color: #888;
       font-size: 1.2em;
       font-family: sans-serif;
       margin: 2rem;
     }
     h1 {
       color: #055ba5;
       margin-bottom: 0;
	   font-size: 1.5em;
	   font-weight: bold;
     }
     h2 {
       color: #055ba5;
       width: 16rem;*/
       margin: 0;
	   font-size: 1.2em;
     }
     h3 {
       text-align: center;
       color: #ffffff;
       font-weight: 400;
       margin-top: 1rem;
     }
     a {
       color: blue;
     }
	 
	 .flex-vertical-center {
		 display: flex;
		 align-items: center;
	 }
	 .logo {
		 float: left;
		 margin-bottom: 20px;
	 }
	 .header{
         max-width: 600px;
         margin: 0px auto;
         padding: .2rem 2rem;
		 text-align: center;
	 }
	 .footer {
		 width: 20rem;
		 display: block;
		 margin: 0 auto;
         border-radius: .5rem;
   		 box-shadow: 0px 0px 8px 4px rgba(0,0,0,.1)
	 }
     .box {
       max-width: 600px;
       margin: 45px auto;
       padding: 1rem 2rem;
       background: #f2f9ff;
       border: 1px solid #055ba5;
       border-radius: .5rem;
       box-shadow: 0px 0px 8px 4px rgba(0,0,0,.1)
     }

     .aas-box {
         display: flex;
         justify-content: space-between;
         max-width: 662px;
         margin: 45px auto;
         background: #f2f9ff;
         border: 1px solid #055ba5;
         border-radius: .5rem;
         box-shadow: 0px 0px 8px 4px rgba(0,0,0,.1)
     }

     .aas-box img {
         max-width: 265px;
         margin-left: 1rem;
     }

     .aas-box p {
         max-width: 350px;
     }

     .aas-heading {
         padding-left: 2rem;
         display: flex;
         padding-top: 1rem;
     }
	 
	 .aas-alignment {
		 display: flex;
		 justify-content: space-between;
		 align-items: center;
		 margin-top: 1rem;
	 }
	 
	 .aas-alignment h1 { 
		 margin: 0;
	 }
	 
	 .aas-alignment p { 
		 margin: 0;
	 }

     .alignment {
         display: flex;
         justify-content: space-between;
         max-width: 550px;
     }
	 
     @media (max-width:735px) {
         .aas-box img {
             display: none;
         }
		 
		 .aas-alignment {
			 display: flex;
			 flex-direction: column;
			 justify-content: space-between;
			 align-items: flex-start;
			 margin-top: 1rem;
		 }
		 
		 .aas-alignment h1 { 
			 margin-bottom: 1rem;
		 }
	 
     }

	 .notice {
		 background-color: #FD6A02;
		 color: white;
		 font-weight: 400;
		 clear: both;
		 display: block;
		 margin-top: 1rem;
		 padding: .5rem;
   		 border-radius: .5rem;
	 }
	 .generalAnnouncement {
		 background-color: #FD6A02;
		 color: white;
		 font-weight: 400;
		 padding: .5rem;
		 display: block;
		 border-radius: .5rem;
	 }
     audio {
       border: 1px solid #777777;
	   max-width: 100%;
	   min-width: 100%;
     }
	 video {
	     border-radius: .25rem;
		 max-width: 100%;
		 min-width: 100%;
		 background: #000;
	 }
	 ul {
		 margin-bottom: 20px;
		 padding: 0 0 0 1rem;
	
	 }
	 .reference {
		 font-size: 90%;
		 font-style: italic;
	 }
 	.green-box {
 		background: green;
		color: white;
		padding: .5rem;
		border-radius: .5rem;
		font-size: 1.3rem;
		margin-left: .75rem;
	}
 	.red-box {
 		background: red;
		color: white;
		padding: .5rem;
		border-radius: .5rem;
		font-size: 1.3rem;
		margin-left: .75rem;
	}
 	.washed-green-box {
 		background: #b3f3b3;
		color: #004c00;
		padding: .5rem;
		border-radius: .5rem;
		font-size: 1.3rem;
		margin-left: .75rem;
	}
	
	/* show all 10 tracks for AAS2023 */
	.progression-skin .mejs-playlist ul {
		max-height: 700px !important;
	}
	
	/* cater for multiple playlists on 1 page and styling fixes */
	.progression-playlist1.progression-skin .mejs-controls .mejs-time-rail {
		margin-left:15px;
	}

	.progression-playlist1.progression-skin .mejs-controls .mejs-time-rail, .progression-playlist1.progression-skin .mejs-controls .mejs-time-rail .mejs-time-total {
		min-width:0%;
	}
